// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------
.#{$class-prefix}-sidebar {
  position: relative;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  background-color: $sidebar-bg;
  @include transition(all 0.2s ease);

  @media screen and (min-width: 1367px) {
    width: calc(#{$sidebar-width + 50px});
  }

  &__header {
    min-height: $header-height;
    max-height: $header-height;
    background-color: darken($sidebar-bg, 2%);

    & .#{$class-prefix}-brand {
      min-height: $header-height;
      max-height: $header-height;
    }

    & .#{$class-prefix}-brand__logo-symbol {
      display: none;
    }
  }

  &__container {
    width: 100%;
    padding: 2rem 2rem 2rem 0;
  }

  &__notification {
    padding-left: 2rem;

    & .#{$class-prefix}-list {
      margin-left: 0;

      &__item {
        margin-bottom: 0;
      }

      &__link {
        color: $sidebar-color;

        @include hover-focus-active {
          color: $sidebar-color-hover;
        }
      }
    }
  }

  &--fixed & {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;

    & + .#{$class-prefix}-content-wrapper {
      @include transition(all 0.2s ease);
      margin-left: $sidebar-width;

      @media screen and (min-width: 1367px) {
        margin-left: calc(#{$sidebar-width + 50px});
      }
    }
  }
}

.#{$class-prefix}-side-nav {
  @extend %list-style-none;

  &__header {
    position: relative;
    text-transform: capitalize;
    padding: 15px 0 15px 20px;
    line-height: 1.2;
    color: $sidebar-header-color;
    font-size: 1.4rem;

    &:not(:first-child) {
      padding-top: 20px;
    }

    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: $sidebar-separator;
      margin-bottom: 30px;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    -ms-flex: 1;
  }
}

.#{$class-prefix}-side-nav {

  & > &__item {
    &.selected > a,
    &.open > a {
      color: $sidebar-active-color;
    }

    & > .#{$class-prefix}-side-nav__sub-menu {
      display: none;
    }

    &.open > .#{$class-prefix}-side-nav__sub-menu {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    line-height: 1.2;
    text-transform: capitalize;
    white-space: nowrap;
    color: $sidebar-color;
    font-size: 14px;
    transition: all 0.3s ease;

    & .icon,
    & i {
      margin-right: 12px;
    }

    @include hover-focus-active {
      color: $sidebar-color-hover;
      text-decoration: none;
    }
  }

  &__arrow:after {
    content: '\32';
    font-family: 'gaxondrift';
    color: inherit;
    @include transition(all 100ms ease);
  }

  &__item.open &__arrow:after {
    @include rotate(90deg);
  }
}

.#{$class-prefix}-side-nav__sub-menu {
  @extend %list-style-none;

  & .#{$class-prefix}-side-nav__link {
    color: $sidebar-submenu-color;
    padding-left: 50px;

    &.active {
      background-color: $sidebar-active-bg;
      color: $sidebar-active-color;
      @include border-right-radius(50px);
      padding-right: 28px;
    }

    &.active:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.8rem;
      @include translateY(-50%);
      @include border-radius($border-radius-circle);
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: $sidebar-active-color;
    }

    @include hover-focus-active {
      color: $sidebar-color-hover;
    }
  }
}