/*------------------------------------
  Covers
------------------------------------*/
.bg-overlay {
  position: relative;

  // Overlay Default
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // Uses for inner content
  &__inner {
    z-index: 3;
    position: relative;
  }
}

.card,
.#{$class-prefix}-card {
  &.bg-overlay:before,
  &.bg-overlay:after {
    @include border-radius($card-border-radius);
  }
}

.card-img {
  &-top.bg-overlay:before,
  &-top.bg-overlay:after {
    @include border-top-radius($card-inner-border-radius);
  }
}

// Overlay background color
.bg-overlay {
  &-white:after {
    background-color: $white;
  }
  &-black:after {
    background-color: $black;
  }
  &-primary:after {
    background-color: $primary;
  }
  &-primary-dark:after {
	background-color: darken($primary, 30%);
  }

  &-gradient-white {
	@include gradient-y(rgba($white,0.3), rgba($black,0.3), 0%, 100%);
  }
}
