// -----------------------------------------------------------------------------
// This file contains CSS Background Gradient Colors.
// -----------------------------------------------------------------------------
@each $color, $value in $dt-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

.bg {
  &-black {
	background-color: $black;
	&-05 {
	  background-color: rgba($black, 0.05);
	}
	&-08 {
	  background-color: rgba($black, 0.08);
	}
	&-12 {
	  background-color: rgba($black, 0.12);
	}
	&-50 {
	  background-color: rgba($black, 0.5);
	}
  }
}
