// -----------------------------------------------------------------------------
// This file contains CSS Border Radius (Rounded Styles).
// -----------------------------------------------------------------------------

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .rounded#{$infix}-0 {
      border-radius: 0 !important;
    }
  }
}

.rounded {
  &-xl {
    @include border-radius($border-radius-xl !important);
  }
}