// -----------------------------------------------------------------------------
// This file contains CSS Background Gradient Colors.
// -----------------------------------------------------------------------------

.height {
  &-50 {
    height: 50px;
  }
  &-55 {
    height: 55px;
  }
  &-75 {
    height: 75px;
  }
  &-100 {
    height: 100px;
  }
  &-120 {
    height: 120px;
  }
  &-150 {
    height: 150px;
  }
  &-200 {
    height: 200px;
  }
}

//Max height
.max-h {
  &-200 {
    max-height: 200px;
  }
  &-250 {
    max-height: 250px;
  }
  &-280 {
    max-height: 280px;
  }
  &-300 {
    max-height: 300px;
  }
  &-350 {
    max-height: 350px;
  }
  &-400 {
    max-height: 400px;
  }
}
