// -----------------------------------------------------------------------------
// This file contains CSS Separator.
// -----------------------------------------------------------------------------

.#{$class-prefix}-separator {
  &-h {
    display: block;
    height: 1px;
    width: 100%;
    background-color: $gray-300;
  }

  &-h-v1 {
    display: inline-block;
    height: 2px;
    width: 20px;
    background-color: $gray-300;
  }

  &-v {
    border: 0 none;
    display: inline-block;
    height: auto;
    width: 1px;
    margin: 0 1rem;
	align-self: stretch;;
	background-color: $border-color-dark;
  }
}
