// -----------------------------------------------------------------------------
// This file contains CSS Sizes.
// -----------------------------------------------------------------------------

// Initial Number
$num: 20;

@while $num <= 120 {
  .size-#{$num} {
    width: #{$num}px;
    height: #{$num}px;
  }
  $num: $num + 5;
}