// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Maps.
// -----------------------------------------------------------------------------

//Page Style
.#{$class-prefix}-page {
  &--container {
    position: relative;
    height: 100%;
    flex: 1;
    -ms-flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: $headings-color;
    font-size: 1.6rem;
    //@include background-img('#{$image_path}/bg-image.jpg', center center);

    /*&:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba($text-color, 0.5);
      @include transition(all 0.5s ease);
    }*/

    & > * {
      position: relative;
      z-index: 2;
    }

    & .title {
      font: {
        size: 7.2rem;
        weight: 600;
      }
    }

    & .search-box {
      width: 320px;
      margin: 0 auto;

      @include media-breakpoint-down(xs) {
        width: 250px;
      }
    }

    .error-page {
      padding-left: $dt-card-padding-x;
      padding-right: $dt-card-padding-x;
    }
  }
}