// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Maps.
// -----------------------------------------------------------------------------

//Login Style
.#{$class-prefix}-login {
  &--container {
	height: 100%;
	flex: 1;
	-ms-flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  &__content-wrapper {
	position: relative;
	@include border-radius($border-radius);
	@include box-shadow($box-shadow);
	background-color: $dt-card-bg;
	max-width: 1042px;
	width: 94%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	@include media-breakpoint-down(xs) {
	  flex-flow: column nowrap;
	}
  }

  &__bg-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $dt-card-padding-y $dt-card-padding-x;
	background-color: $light-primary;

	@include media-breakpoint-up(sm) {
	  width: 50%;
	  order: 2;
	}
  }

  &__bg-section + &__content {
	@include media-breakpoint-up(sm) {
	  width: 50%;
	}
  }

  &__content {
	padding: 4rem 5rem;
	flex: 1;
	@include media-breakpoint-up(sm) {
	  order: 1;
	}

	&-header {
	  margin-bottom: 3rem;
	}

	&-inner {
	  & .form-group {
		margin-bottom: 3rem;
	  }
	}
  }
}

.#{$class-prefix}-login {
  &__logo {
	margin-bottom: 3rem;
  }

  &__title {
	position: relative;
	font-size: 2.2rem;
	margin-bottom: 0;
  }

  &__content-wrapper {
	@include hover {
	  & .#{$class-prefix}-login__title:after {
		width: 100%;
	  }
	}

	.#{$class-prefix}-forgot-password & {
	  max-width: 420px;

	  & .#{$class-prefix}-login__content {
		width: 100%;
	  }

	  & .#{$class-prefix}-login__logo {
		display: block;
		margin-left: 0;
		margin-bottom: 3rem;
	  }
	}
  }
}

//Lock Screen
.#{$class-prefix}-lock-screen {
  @include background-img('#{$image_path}/bg-image-1.jpg', center center);
  text-align: center;

  &:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.2);
  }

  & input[type='password'] {
	width: 320px;

	@include media-breakpoint-down(xs) {
	  width: 250px;
	}
  }

  & .#{$class-prefix}-login__content-wrapper {
	flex-direction: column;
	align-items: center;
	width: auto;
	background-color: transparent;
	@include box-shadow(none);
  }

  & .#{$class-prefix}-avatar {
	margin-bottom: 2.5rem;
  }
}
