// -----------------------------------------------------------------------------
// This file contains all styles related to the Widget component.
// -----------------------------------------------------------------------------

//Profile Style
.profile {
  &__banner {
	position: relative;
	margin: -2rem -1.6rem;
	padding: 4rem 1.6rem;
	@include background-img('#{$image_path}/profile-img.jpg', center center);
	color: $white;

	&:before {
	  content: '';
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba($primary, 0.5);
	}

	@include media-breakpoint-only(xl) {
	  padding: 5.6rem 8.8rem 7.8rem;
	  margin: -3.2rem -8.8rem -5.2rem;
	}
	@include media-breakpoint-only(lg) {
	  padding-left: 6.5rem;
	  padding-right: 6.5rem;
	  margin-left: -6.5rem;
	  margin-right: -6.5rem;
	}
	@include media-breakpoint-only(md) {
	  padding-left: 5rem;
	  padding-right: 5rem;
	  margin-left: -5rem;
	  margin-right: -5rem;
	}

	@include media-breakpoint-down(md) {
	  .#{$class-prefix}-layout--modern &,
	  .#{$class-prefix}-layout--back-office &,
	  .#{$class-prefix}-layout--back-office-mini & {
		margin-top: 0;
	  }
	}

	.#{$class-prefix}-layout--intranet & {
	  background-color: darken($primary, 15%);
	  @include media-breakpoint-up(lg) {
		@include border-top-radius($border-radius);
	  }
	}

	&-detail {
	  position: relative;
	  z-index: 2;

	  &:not(:last-child) {
		margin-bottom: 2rem;
	  }

	  @include media-breakpoint-up(sm) {
		display: flex;
		align-items: center;
	  }
	  @include media-breakpoint-down(xs) {
		& .#{$class-prefix}-avatar-wrapper {
		  flex-direction: column;
		  margin-bottom: 4rem;

		  & .#{$class-prefix}-avatar-info {
			text-align: center;
			margin-top: 2rem;
		  }
		}
	  }
	}

	&-navigation {
	  position: relative;
	  z-index: 2;
	  display: flex;
	  justify-content: flex-end;
	}

	& .#{$class-prefix}-list {
	  margin-left: -2.6rem;
	  margin-right: -2.6rem;
	}

	& .#{$class-prefix}-list__item {
	  padding-left: 2.6rem;
	  padding-right: 2.6rem;
	}
  }

  &-content {
	& .#{$class-prefix}-list-col-4 .#{$class-prefix}-list__item {
	  margin-bottom: 4rem;

	  @include media-breakpoint-down(md) {
		width: 50%;
	  }

	  @include media-breakpoint-down(xs) {
		width: 100%;
	  }
	}
  }
}

.profile__banner {
  & .navbar-nav {
	flex-flow: row wrap;
	margin-left: -5px;
	margin-right: -5px;
  }

  & .nav-link {
	padding: 6px 4px;
	border-bottom: 2px solid transparent;
	color: rgba($white, 0.74);

	@include hover-focus-active {
	  color: rgba($white, 1);
	  border-bottom-color: rgba($white, 0.74);
	}
  }

  & .nav-item {
	padding-left: 5px;
	padding-right: 5px;

	&.active .nav-link {
	  color: rgba($white, 1);
	  border-bottom-color: rgba($white, 0.74);
	}
  }
}
