// -----------------------------------------------------------------------------
// This file contains all styles related to the Wall page.
// -----------------------------------------------------------------------------
.wall-post {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;

  & img {
	width: 100%;
  }
}
