// -----------------------------------------------------------------------------
// This file contains all styles related to the badge component.
// -----------------------------------------------------------------------------
.badge {
  &-sm {
    padding: 3px 6px;
  }

  .badge-group & + .badge {
    margin-left: 0.6rem;
  }

  &-light {
    color: $text-color;
  }

  &-circle-animate {
    @include transition(all 150ms ease-in-out);
    font-size: 0;
    @include border-radius($border-radius-circle);
    padding: 0.5rem;

    @include hover-focus {
      font-size: $font-size-sm;
      @include border-radius($border-radius);
    }

    &.badge-pill {
      @include hover-focus {
        font-size: $font-size-sm;
        @include border-radius($border-radius-xl);
      }
    }
  }

  &-top-left,
  &-top-right {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 0.6rem 1rem;
  }

  &-top-left {
    left: 0;
    @include border-radius($border-radius 0 $border-radius-xl 0);
  }

  &-top-right {
    right: 0;
    @include border-radius(0 $border-radius 0 $border-radius-xl);
  }
}