// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

//
// Base styles
//

.btn {
  text: {
	transform: uppercase;
  }
  @include transition(background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);

  &-shadow {
	@include box-shadow(0px 3px 1px -2px rgba($black, 0.2), 0px 2px 2px 0px rgba($black, 0.14), 0px 1px 5px 0px rgba($black, 0.12));
	@include hover-focus {
	  @include box-shadow(0px 2px 4px -1px rgba($black, 0.2), 0px 4px 5px 0px rgba($black, 0.14), 0px 1px 10px 0px rgba($black, 0.12));
	}

	&:active {
	  @include box-shadow(0px 5px 5px -3px rgba($black, 0.2), 0px 8px 10px 1px rgba($black, 0.14), 0px 3px 14px 2px rgba($black, 0.12) !important);
	}
  }

  &-link {
	font: {
	  weight: $btn-font-weight;
	}
  }

  &-rounded {
	@include border-radius(50px);
  }

  &-default {
	background-color: $white;
	color: $primary;

	@include hover-focus-active {
	  background-color: darken($white, 1%);
	  color: darken($primary, 5%);
	}
  }

  &-outline-default {
	background-color: $white;
	color: $text-color-primary;
	border: 1px solid rgba($black,0.23);

	@include hover-focus-active {
	  background-color: darken($white, 5%);
	  color: $text-color-primary;
	}
  }

  &-group &-default {
	background-color: $white;
	color: $primary;

	&.active {
	  background-color: $primary;
	  color: $white;
	}
  }

  &-xs {
	padding: 4px 8px;
	font-size: 12px;
  }
}

.#{$class-prefix}-fab-btn {
  @extend %circle-shape;
  padding: 0;
}

//Compose button
.compose-btn {
  padding: 0.8rem 2.6rem;
}
