// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Charts Styles.
// -----------------------------------------------------------------------------

// Chart Style
.ct-grid {
  stroke: #f1f1f1;
}

.ct-label {
  font: {
    family: $font-family-base;
    weight: 500;
    size: 1rem;
  }

  .theme-dark & {
    color: $body-color;
  }
}

//Stroke Width
.stroke {
  &-w-1 {
    & .ct-line {
      stroke-width: 1px;
    }
  }
  &-w-2 {
    & .ct-line {
      stroke-width: 2px;
    }
  }
  &-w-3 {
    & .ct-line {
      stroke-width: 3px;
    }
  }
}

// Stroke dasharray
.stroke-dasharray {
  &-0 {
    & .ct-grid {
      stroke-dasharray: 0;
    }
  }
  &-1 {
    & .ct-grid {
      stroke-dasharray: 1px;
    }
  }
  &-2 {
    & .ct-grid {
      stroke-dasharray: 2px;
    }
  }
  &-3 {
    & .ct-grid {
      stroke-dasharray: 3px;
    }
  }
  &-4 {
    & .ct-grid {
      stroke-dasharray: 4px;
    }
  }
  &-5 {
    & .ct-grid {
      stroke-dasharray: 5px;
    }
  }
}

// Fill Opacity
.fill-opacity {
  &-0 {
    & .ct-area {
      fill-opacity: 0;
    }
  }
  &-0_1 {
    & .ct-area {
      fill-opacity: 0.1;
    }
  }
  &-0_2 {
    & .ct-area {
      fill-opacity: 0.2;
    }
  }
  &-0_3 {
    & .ct-area {
      fill-opacity: 0.3;
    }
  }
  &-0_4 {
    & .ct-area {
      fill-opacity: 0.4;
    }
  }
  &-0_5 {
    & .ct-area {
      fill-opacity: 0.5;
    }
  }
  &-0_6 {
    & .ct-area {
      fill-opacity: 0.6;
    }
  }
  &-0_7 {
    & .ct-area {
      fill-opacity: 0.7;
    }
  }
  &-0_8 {
    & .ct-area {
      fill-opacity: 0.8;
    }
  }
  &-0_9 {
    & .ct-area {
      fill-opacity: 0.9;
    }
  }
  &-1 {
    & .ct-area {
      fill-opacity: 1;
    }
  }
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 5px 10px rgba($black, 0.3));
  filter: drop-shadow(0 5px 10px rgba($black, 0.3));
}

.stroke {
  &-primary {
    .ct-series-a .ct-line {
      stroke: $primary;
    }
  }
  &-secondary {
    .ct-series-a .ct-line {
      stroke: $secondary;
    }
  }
  &-success {
    .ct-series-a .ct-line {
      stroke: $success;
    }
  }
  &-danger {
    .ct-series-a .ct-line {
      stroke: $danger;
    }
  }
  &-warning {
    .ct-series-a .ct-line {
      stroke: $warning;
    }
  }
  &-info {
    .ct-series-a .ct-line {
      stroke: $info;
    }
  }
}

.ct-line-chart {
  & .ct-series {
    &-a .ct-line {
      stroke: $primary;
    }

    &-a .ct-area {
      fill: url(#gradient2) !important;
    }

    &-b .ct-line {
      stroke: $secondary;
    }

    &-b .ct-area {
      fill: url(#gradient3) !important;
    }
  }
}

.chart-area-work {
  & .ct-series {
    &-a .ct-line {
      stroke: $primary;
    }

    &-a .ct-area {
      fill: url(#ws-gradient3) !important;
    }
  }
}

.chart-area-balance {
  & .ct-series {
    &-a .ct-line {
      stroke: $secondary;
    }

    &-a .ct-area {
      fill: url(#gradient3) !important;
    }
  }

  .ct-label {
    padding-top: 5px;
    border-top: $dt-border;
    font: {
      weight: 400;
      size: $font-size-base;
    }

    &.ct-horizontal.ct-end {
      justify-content: center;
      text-align: center;
    }
  }
}