// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Custom Components Widget.
// -----------------------------------------------------------------------------

//Campaigns Widget
.campaigns-widget {
  & .#{$class-prefix}-widget {
    margin-left: -($dt-card-padding-x / 2);
    margin-right: -($dt-card-padding-x /2);
  }
  & .#{$class-prefix}-widget__item {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px ($dt-card-padding-x / 2);
    @include border-radius($border-radius);
  }

  @media screen and (max-width: 450px) {
    font-size: 12px;

    & .#{$class-prefix}-widget__title {
      font-size: 12px;
    }
  }
}

//Real Time User Widget
.real-time-widget {
  position: relative;
  @include gradient-y(rgba($primary, 0.65), rgba($primary, 1));

  & .chart-fluid {
    position: relative;
    margin-bottom: -$dt-card-padding-y;
    margin-left: -$dt-card-padding-x;
    margin-right: -$dt-card-padding-x;
  }
}
