// -----------------------------------------------------------------------------
// This file contains all styles related to the main content of the site/application.
// -----------------------------------------------------------------------------
.#{$class-prefix}-root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__inner {
	display: flex;
	flex-direction: column;
	flex: 1;
  }
}

.#{$class-prefix}-main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  -ms-flex: 1;
}

.#{$class-prefix}-content-wrapper {
  flex: 1 1 auto;
  width: calc(100% - #{$sidebar-width});
  display: flex;
  flex-direction: column;
  @include transition(all 0.2s ease);
}

.#{$class-prefix}-content {
  padding: 2rem 1.6rem;
  flex: 1;
  @include media-breakpoint-only(xl) {
	padding: 3.2rem 8.8rem;
  }
  @include media-breakpoint-only(lg) {
	padding-left: 6.5rem;
	padding-right: 6.5rem;
  }
  @include media-breakpoint-only(md) {
	padding-left: 5rem;
	padding-right: 5rem;
  }
}

.#{$class-prefix}-page {
  &__header {
	position: relative;
	margin-bottom: 3.2rem;
  }

  &__title {
	font-weight: 700;
  }
}

.#{$class-prefix}-entry {

  &__header {
	position: relative;
	margin-bottom: 3rem;
	padding-bottom: 1.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: $dt-border;

	&:after {
	  content: '';
	  position: absolute;
	  bottom: -2px;
	  left: 0;
	  height: 3px;
	  width: 45px;
	  background-color: $primary;
	  @include border-radius(10px);
	}
  }

  &__title {
	margin-bottom: 0;
	font: {
	  size: 18px;
	}
	text-transform: capitalize;
	color: $text-color-primary;
  }
}
