// -----------------------------------------------------------------------------
// This file contains all styles related to the Customizer of the site/application.
// -----------------------------------------------------------------------------
.#{$class-prefix}-customizer {
	position: relative;
	z-index: 1501;
	width: 300px;

	@include media-breakpoint-up(sm){
		width: ($sidebar-width + 76px);
	}

	&-toggle {
		position: fixed;
		top: 130px;
		right: 0;
		z-index: 100;

		@include media-breakpoint-down(xs) {
			top: 165px;
		}

		& a {
			@include transition(all 0.5s ease);
			@include border-left-radius(50px);
			@include box-shadow($box-shadow);
			display: flex;
			align-items: center;
			justify-content: center;
			height: 4rem;
			width: 6rem;
			font-size: 2.5rem;
			@include gradient-directional($primary, $secondary, 135deg);
			color: $white;

			@include hover-focus {
				@include gradient-directional($primary, $secondary, 90deg);
			}
		}
	}

	&__inner {
		height: 100%;
	}
}

.#{$class-prefix}-customizer {
	&__header {
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 2rem;
		background-color: $white;
		min-height: $header-height;
		@include box-shadow(0 4px 4px 0 rgba($black, 0.1));

		& .close {
			margin-left: auto;
			font-size: 3.5rem;
			font-weight: normal;
			line-height: 0.8;

			&:focus {
				outline: none;
			}
		}
	}

	.theme-dark & {
		&__header {
			background-color: $card-bg;
		}
	}

	&__body {
		background-color: $body-bg;
		height: calc(100% - #{$header-height});
		overflow-y: auto;

		&-inner {
			padding: 2.4rem 1.6rem;
		}

		& section {
			margin-bottom: 2.4rem;
		}

		& .#{$class-prefix}-list-sm {
			margin-left: -5px;
			margin-right: -5px;

			& > .#{$class-prefix}-list__item {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}

.#{$class-prefix}-customizer {
	& .#{$class-prefix}-card {
		&__header {
			padding: 1rem 1.6rem 0;
		}

		&__body {
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
	}
}

.#{$class-prefix}-customizer {
	& .choose-option {
		position: relative;

		&__icon {
			display: block;
			cursor: pointer;
			position: relative;
			z-index: 1;

			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}

		&.active .choose-option__icon {
			@include transition($transition-base);

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				@include translate(-50%, -50%);
				z-index: 2;
				height: 20px;
				width: 20px;
				display: inline-block;
				@include background-img('../../images/customizer/icon-check.png', center center);
			}
		}

		&__name {
			font-size: 12px;
			color: $text-color-secondary;
			text-transform: capitalize;
		}
	}

	& .#{$class-prefix}-color-option,
	& .#{$class-prefix}-color-option-circle {
		position: relative;
		display: block;
		cursor: pointer;
		background-color: $gray-100;

		&.active:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
			z-index: 2;
			height: 20px;
			width: 20px;
			display: inline-block;
			@include background-img('../../images/customizer/icon-check.png', center center);
		}
	}

	& .#{$class-prefix}-color-option {
		width: 50px;
		height: 32px;
		@include border-radius($border-radius);

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 25px;
			height: 100%;
			@include border-left-radius($border-radius);
		}
	}

	& .#{$class-prefix}-color-option-circle {
		width: 40px;
		height: 40px;
		@include border-radius($border-radius-circle);
	}

	& .theme-color-options {
		& > li:nth-child(1) .#{$class-prefix}-color-option {
			background-color: #03DAC5;

			&:before {
				background-color: #6200EE;
			}
		}

		& > li:nth-child(2) .#{$class-prefix}-color-option {
			background-color: #E56B6F;

			&:before {
				background-color: #1C61CA;
			}
		}

		& > li:nth-child(3) .#{$class-prefix}-color-option {
			background-color: #FF9F1C;

			&:before {
				background-color: #2EC4B6;
			}
		}

		& > li:nth-child(4) .#{$class-prefix}-color-option {
			background-color: #4F5D75;

			&:before {
				background-color: #EF8354;
			}
		}

		& > li:nth-child(5) .#{$class-prefix}-color-option {
			background-color: #5AB77F;

			&:before {
				background-color: #D71371;
			}
		}

		& > li:nth-child(6) .#{$class-prefix}-color-option {
			background-color: #FFC600;

			&:before {
				background-color: #072AC8;
			}
		}

		& > li:nth-child(7) .#{$class-prefix}-color-option {
			background-color: #369FFF;

			&:before {
				background-color: #7530FF;
			}
		}

		& > li:nth-child(8) .#{$class-prefix}-color-option {
			background-color: #F9C80E;

			&:before {
				background-color: #F26419;
			}
		}

		& > li:nth-child(9) .#{$class-prefix}-color-option {
			background-color: #0A2E36;

			&:before {
				background-color: #2BA444;
			}
		}

		& > li:nth-child(10) .#{$class-prefix}-color-option {
			background-color: #55DDE0;

			&:before {
				background-color: #33658A;
			}
		}
	}

	& .flat-color-options {
		& > li:nth-child(1) .#{$class-prefix}-color-option-circle {
			background-color: #6200EE;
		}
		& > li:nth-child(2) .#{$class-prefix}-color-option-circle {
			background-color: #CC701B;
		}
		& > li:nth-child(3) .#{$class-prefix}-color-option-circle {
			background-color: #03DAC5;
		}
		& > li:nth-child(4) .#{$class-prefix}-color-option-circle {
			background-color: #369FFF;
		}
		& > li:nth-child(5) .#{$class-prefix}-color-option-circle {
			background-color: #2BA444;
		}
		& > li:nth-child(6) .#{$class-prefix}-color-option-circle {
			background-color: #23036A;
		}
	}

	& .gradient-color-options {
		& > li:nth-child(1) .#{$class-prefix}-color-option-circle {
			background-color: #8E2DE2;
			@include gradient-y(#8E2DE2, #320097, 0%, 100%);
		}
		& > li:nth-child(2) .#{$class-prefix}-color-option-circle {
			background-color: #03DAC5;
			@include gradient-y(#03DAC5, #6200EE, 0%, 100%);
		}
		& > li:nth-child(3) .#{$class-prefix}-color-option-circle {
			background-color: #EB4511;
			@include gradient-y(#EB4511, #861C00, 0%, 100%);
		}
		& > li:nth-child(4) .#{$class-prefix}-color-option-circle {
			background-color: #00619A;
			@include gradient-y(#03CE97, #00619A, 0%, 100%);
		}
		& > li:nth-child(5) .#{$class-prefix}-color-option-circle {
			background-color: #061161;
			@include gradient-y(#061161, #C31432, 0%, 100%);
		}
		& > li:nth-child(6) .#{$class-prefix}-color-option-circle {
			background-color: #C33764;
			@include gradient-y(#C33764, #1D2671, 0%, 100%);
		}
	}
}
