// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

//Sidebar Folded style
.#{$class-prefix}-sidebar--folded {
  & .#{$class-prefix}-brand,
  & .#{$class-prefix}-brand__logo,
  & .#{$class-prefix}-sidebar,
  & .#{$class-prefix}-side-nav__text,
  & .#{$class-prefix}-content-wrapper,
  & .#{$class-prefix}-header__toolbar,
  & .#{$class-prefix}-sidebar__notification .#{$class-prefix}-avatar-wrapper {
    @include transition(all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0s);
  }

  & .#{$class-prefix}-sidebar {
    & .#{$class-prefix}-action {
      &-nav__item > [data-toggle="main-sidebar"] {
        display: flex;
      }
    }

    &__content {
      display: none;
    }
  }

  &:not(.#{$class-prefix}-sidebar--expended) {
    & .#{$class-prefix}-brand,
    & .#{$class-prefix}-sidebar {
      width: $folded-sidebar-width;
    }

    & .#{$class-prefix}-content-wrapper,
    & .#{$class-prefix}-header__toolbar {
      width: calc(100% - #{$folded-sidebar-width});
    }

    & .#{$class-prefix}-side-nav__text,
    & .#{$class-prefix}-side-nav__arrow::after,
    & .#{$class-prefix}-brand__logo .#{$class-prefix}-brand__logo-img {
      opacity: 0;
      visibility: hidden;
    }

    & .#{$class-prefix}-side-nav__item {
      &.open .#{$class-prefix}-side-nav__sub-menu {
        display: none !important;
      }
    }

    & .#{$class-prefix}-side-nav__header {

      & .#{$class-prefix}-side-nav__text {
        display: none;
      }

      &:first-child {
        padding: 0;
      }

      &:not(:first-child):before {
        margin-bottom: 0;
      }
    }

    & .#{$class-prefix}-sidebar__header {

      & .#{$class-prefix}-brand__logo-img {
        display: none;
      }

      & .#{$class-prefix}-brand__logo-symbol {
        display: inline-block;
      }
    }

    & .#{$class-prefix}-sidebar__notification {
      & .#{$class-prefix}-list {
        margin-left: -12px;

        &__item:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      & .#{$class-prefix}-avatar-wrapper {
        margin-left: -10px;
      }

      & .#{$class-prefix}-avatar-wrapper:after,
      & .#{$class-prefix}-avatar-info {
        display: none;
      }
    }
  }

  &.#{$class-prefix}-sidebar--fixed {
    & .#{$class-prefix}-content-wrapper,
    & .#{$class-prefix}-header__toolbar {
      margin-left: $folded-sidebar-width;
      width: calc(100% - #{$folded-sidebar-width});
    }

    &:not(.#{$class-prefix}-header--fixed):not(.theme-semidark):not(.theme-dark) {
      & .#{$class-prefix}-header .#{$class-prefix}-header__toolbar {
        margin-left: ($folded-sidebar-width + 20px);
      }
    }
  }
}